let baseConfig = {
    env: 'development',
    isDev: true,
    sassStyle: 'compressed',
    cssRename: true,
    pathsDev: {
        css: 'source/scss',
        script: 'source/js',
    },
    pathsProd: {
        css: 'assets/css',
        script: 'assets/js',
    },
    autoprefixerConfig: {
        overrideBrowserslist: ['last 10 version']
    },
}

module.exports = baseConfig