/******************************************************************
Site Name: Molde theme
Author: Kalervo Raitanen

Stylesheet: Base Mobile Stylesheet
******************************************************************/


/******************************************************************
GENERAL STYLES
******************************************************************/

body {
	font-size: 100%;
	line-height: 1;
}


/******************************************************************
LINK STYLES
******************************************************************/

a {

	/* on hover */
	&:hover, &:focus {
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}